.parent-card{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.container{
    width: 500px;
    border-radius: 5px;
}

.page-header{
    padding: 1em;
    clear: left;
    text-align: center;
    padding-right: 3%;
    font-size: 20px;
    box-shadow: 0px 1px 5px black;
}

.my-spinner{
    position:absolute;
}