.page-header {
  padding: 1em;
  clear: left;
  text-align: center;
  padding-right: 3%;
  font-size: 20px;
  box-shadow: 0px 1px 5px black;
}

.my-spinner {
  position: absolute;
}
.parent,
.answer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.input-card {
  width: 70%;
}

.example-full-width {
  padding-left: 20px;
  width: 70%;
  padding-right: 20px;
}

.result-parent {
  display: flex;
  justify-content: space-between;
  mat-card {
    width: 20%;
  }
}
