.page-header {
  padding: 1em;
  clear: left;
  text-align: center;
  padding-right: 3%;
  font-size: 20px;
  box-shadow: 0px 1px 5px black;
}

.my-spinner {
  position: absolute;
}
.parent,
.answer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.input-card {
  width: 70%;
}

.example-full-width {
  padding-left: 20px;
  width: 70%;
  padding-right: 20px;
}

.result-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  mat-card {
    width: 15%;
    min-width: 100px;
    margin:10px;
  }
}

.loading-spinner{
  position: absolute;
  top:50%;
  left: 50%;
  z-index: 10;
}

@media only screen and (max-width: 479px) {
  .result-parent {
    justify-content: space-evenly;

    .mat-card {
      width: 15%;
      min-width: 150px;
    }
  }
}