<div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>
<header class="page-header">
    Text Analysis
</header>
<div class="parent">
    <mat-card class="input-card">Provide the sentence here:
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Text" #Text>
        </mat-form-field>
        <button (click)="callTextAnalysis(Text.value)" mat-raised-button color="accent">
            Submit
        </button>
    </mat-card>
</div>
<div class="answer">
    <mat-card *ngIf="isScoreAvailable" class="input-card">
        <mat-card-header>
            Score: {{ textAnalysisScore}}
        </mat-card-header>
        <mat-card-content>
            <br />
            <div class="result-parent">
                <mat-card>
                    <mat-card-header>
                        <h4>Tokens:</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <ol>
                            <li *ngFor="let item of tokens; let i = index">
                                <h4>{{item}}</h4>
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <h4>Words:</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <ol>
                            <li *ngFor="let item of words; let i = index">
                                <h4>{{item}}</h4>
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <h4>Postive Words:</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <ol>
                            <li *ngFor="let item of positiveWords; let i = index">
                                <h4>{{item}}</h4>
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <h4>Negative Words:</h4>
                    </mat-card-header>
                    <mat-card-content>
                        <ol>
                            <li *ngFor="let item of negativeWords; let i = index">
                                <h4>{{item}}</h4>
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>