#container1{
    margin-left: 25%;
    margin-top: 5%;
    width: 600px;
}

.page-header{
    padding: 1em;
    clear: left;
    text-align: center;
    padding-right: 3%;
    font-size: 20px;
    box-shadow: 0px 1px 5px black;
}

.my-spinner{
    position:absolute;
}

.charts-header{
    padding-left: 28px;
}