#container1{
    margin-left: 25%;
    margin-top: 5%;
    width: 600px;
}
.page-header{
    padding: 1em;
    clear: left;
    text-align: center;
    padding-right: 3%;
}
.my-spinner{
    position:absolute;
}