<div  [class.m2app-dark]="isDarkTheme">
  <div class="total-container">
    <mat-toolbar class="toolbar">
      <button mat-icon-button color="primary" class="sidenav-button" mat-button (click)="sidenav.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <mat-slide-toggle class="theme-toggle" (change)="isDarkTheme = !isDarkTheme" ></mat-slide-toggle>
      <div class="toolbar-header">Skill Charts</div> 
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened="true" #sidenav class="sidenav">
        <ul class="sidenav-list">
          <li><a routerLink="/skills"><i class="fa fa-cogs" aria-hidden="true"></i> <span>  Skills </span></a></li>
          <li><a routerLink="/graph"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>  Charts </span></a></li>
          <li><a routerLink="/qualification"><i class="fa fa-cogs" aria-hidden="true"></i><span>  Qualification </span></a></li>
        </ul>
      </mat-sidenav>
      <div class="sidenav-content">  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
</div>