@import '~@angular/material/theming';


.total-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.toolbar{
    position: relative;
    z-index: 2;
    height: 10px;
    box-shadow: 0px 5px 20px black;
}

.toolbar-header{
    position: absolute;
    margin-left: 50%;
}
.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  width: 10%;
  min-width: 168px; 
  box-shadow: 1px 0px 20px black;
}
.sidenav-button{
    margin-left: 150px;
    background:none;
    padding:0;
    font-size: 20px;
}
.theme-toggle{
    margin-top: 5px;
    position: fixed;
    margin-left: 90%;
}
.sidenav-list{
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    position: fixed;
    li{
        list-style: none;
        padding: 10%;
        width: 100%;
       a{
           margin-left:15%;
           text-decoration: none;
       } 
    }
}
