@import '~@angular/material/theming';


.total-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.toolbar{
    position: relative;
    background-color: Peru;
    z-index: 2;
    height: 10px;
    box-shadow: 0px 5px 20px black;
}


.toolbar-header{
    position: absolute;
    margin-left: 50%;
}
.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  width: 10%;
  min-width: 168px; 
  box-shadow: 1px 0px 20px black;
  background-color: coral;
}
.sidenav-button{
    margin-left: 150px;
    background:none;
    padding:0;
    font-size: 20px;
}

.page-header{
    padding: 1em;
    clear: left;
    text-align: center;
    padding-right: 3%;
    font-size: 20px;
    box-shadow: 0px 1px 5px black;
    background-color : beige;
  background-repeat: repeat;
}


.page-footer{
    background-color:beige;
  background-repeat: repeat;
    margin-top: 180px;
    padding: 1em;
    clear: left;
    text-align: left;
    padding-right: 3%;
    font-size: 12px;
    box-shadow: 0px 1px 20px black;

}
.theme-toggle{
    margin-top: 5px;
    position: fixed;
    margin-left: 90%;
}
.sidenav-list{
    padding: 0px;
    margin-top: 0px;
    width: 90%;
    position: fixed;
    li{
        list-style: none;
        padding: 10%;
        width: 100% !important;
       a{
           margin-left:2%;
           text-decoration: none;
       } 
    }
}
