.m2app-dark {
  $dark-primary: mat-palette($mat-indigo, 700, 600, 900);
  $dark-accent:  mat-palette($mat-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-red,500);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  .toolbar{
    color: white !important;
    background-color: dimgray !important;
  }
  .sidenav {
    background-color: dimgray !important ;
  }
  .sidenav-list{
    li{
       a{
           color: white !important;
       } 
    }
    li:hover{
        background-color: white;
        a{
           color : black !important;
       } 
    }
}
.sidenav-container{
  background: #03A9F4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #03A9F4 , #01579B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #03A9F4, #01579B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #03A9F4, #01579B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #03A9F4 , #01579B); /* Standard syntax */
}
.page-header{  
    background-color:#212121 !important;
    background: none;
    color: white !important;
}

.page-footer{
    background-color:#212121 !important;
    background: none;
    color: white !important;
}

.card-header{
    background-color: dimgrey;
}
.mat-card-subtitle{
    color:white !important;
}
  @include angular-material-theme($dark-theme);
}


