$custom-theme-primary: mat-palette($mat-grey,900);
$custom-theme-accent: mat-palette($mat-blue,800);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
.toolbar{
    background-color: #1565c0 !important;
    color: white !important;
}
.sidenav {
  background-color:#1565c0 !important;
}
.sidenav-list{
    li{
       a{
           color:black !important;
       } 
    }
    li:hover{
        background-color: black;
        a{
           color:White !important;
       } 
    }
}
.page-header{  
    background-color: #dcdde1;
    color: black;
}
.toolbar{
    color: black !important;
}

.mat-card-subtitle{
    color:black !important;
}

@include angular-material-theme($custom-theme);