$custom-theme-primary: mat-palette($mat-grey, 900);
$custom-theme-accent: mat-palette($mat-blue, 800);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);

.toolbar {
  background-color: #1e90ff !important;
  color: white !important;
}

.sidenav {
  background-color:#1e90ff !important;
}

.sidenav-list {
  li {
    a {
      color: black !important;
    }
  }
  li:hover {
    background-color: black;
    border-radius: 5px;
    a {
      color: White !important;
    }
  }
}

.sidenav-footer {
  li {
    a {
      color: white !important;
    }
  }
  li:hover {
    background-color: black;
    border-radius: 5px;
    a {
      color: White !important;
    }
  }
}

.page-header {
  background-color: #dcdde1;
  color: black;
}

.toolbar {
  color: black !important;
}

.mat-card-subtitle {
  color: black !important;
}

@include angular-material-theme($custom-theme);
