<header class="page-header">
  Qualification Details
</header>
 <div class="card-container">

 
<mat-horizontal-stepper class="my-card" [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
    
        <mat-card>
          <mat-card-header class="card-header">
            <mat-card-title class="my-card-title">Fill out your name</mat-card-title>
          </mat-card-header>
          <mat-form-field class="my-input" color="accent">
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button class="form-button" color="primary" matStepperNext>Next</button>
          </div>
        </mat-card>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title class="my-card-title">Fill out your Address</mat-card-title>
        </mat-card-header>
        <mat-form-field class="my-input" color="accent">
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button class="form-button" color="primary" matStepperPrevious>Back</button>
          <button mat-button class="form-button" color="primary" matStepperNext>Next</button>
        </div>
      </mat-card>

    </form>
  </mat-step>
  <mat-step>
    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title class="my-card-title">You are now done</mat-card-title>
      </mat-card-header>
      <div>
        <button mat-button class="form-button" color="primary" matStepperPrevious>Back</button>
      </div>
    </mat-card>
  
  </mat-step>
</mat-horizontal-stepper>
</div> 
<footer class="page-footer">
  <div>
    <p>Posted by: KK </p>
    <p>Contact information:
      <a href="mailto:kk1996@gmail.com">
        kk1996@gmail.com</a>.</p>
  </div>

</footer>